@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>document your software</h1>
    <p class="lead">create a great documentation for your software. Now is free for 30 days</p>
    <p><a href="#" class="btn btn-primary btn-lg">Try it! &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            DevTools is easy to use and easy to colaborate with you team
        </p>
        <p><a class="btn btn-info" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>How it is?</h2>
        <p>is a great software for create great documentacion</p>
        <p><a class="btn btn-info" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Workflow </h2>
        <p>notify any change during the develop.</p>
        <p><a class="btn btn-info" href="#">Learn more &raquo;</a></p>
    </div>
</div>